.light-search {
  background: url('./search.svg') no-repeat left 15px center / 20px 20px white;
  border: none;
  border-radius: 5px;
  color: hsl(200, 15%, 8%);
  padding: 10px 10px 10px 45px;
  width: 30%;
}

.dark-search {
  background: url('./search.svg') no-repeat left 15px center / 20px 20px hsl(209, 23%, 22%);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 10px 10px 45px;
  width: 30%;
}