.light-header {
  align-items: center;
  background: white;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  padding: 0px 20px;
}

.dark-header {
  align-items: center;
  background: hsl(209, 23%, 22%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  padding: 0px 20px;
}

h1 {
  font-size: 1.7em;
  font-weight: 800;
}

.dark-mode-button {
  background: url('./moon.svg') no-repeat left center / 16px 16px;
  font-size: 0.9em;
  padding-left: 20px;
}

.dark-mode-button:hover {
  cursor: pointer;
}