ul {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 250px);
  grid-auto-flow: row;
  justify-content: space-between;
  margin: 50px 0px;
}

li {
  background: white;
  border-radius: 5px;
  list-style-type: none;
  padding-bottom: 40px;
}

li:hover {
  cursor: pointer;
}

img {
  border-radius: 5px 5px 0px 0px;
  height: 150px;
  width: 250px;
}

h2 {
  font-size: 1.1em;
  font-weight: 800;
  padding: 20px;
}

p {
  font-size: 0.9em;
  padding: 0px 20px;
}

strong {
  font-weight: 600;
}